/* tengoe l estilo tranquilo aniquilo */
.titulo{
    display: flex;
    
   align-items: center;
   justify-content: center;
}

.pagina{
    display: flex;
    justify-content: center;
    margin-top: 5em;
    border:50vw inset burlywood;

}

.boton{
    display: flex;
    justify-items: end;
    background-color: azure;
}

.sub{
    display: flex;
   align-items: center;
   justify-content: center;
}