/* Estilos para el overlay de fondo */
.background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/*Estilos para el pop-up
 .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4em; /* Doble de grande 
    background-color: #21203f; /* Color de fondo verdoso 
    color: #b1e4dc; /* Color de texto verdoso 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
    max-width: 400px;
    z-index: 2;
} */

/* Estilos para el pop-up de productos */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px; /* Doble de grande */
    background-color: rgba(33, 32, 63, 0.6); /* Color de fondo verdoso con transparencia */
    
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
    max-width: 600px;
    z-index: 2;
    display: flex; /* Añadido */
    justify-content: space-between; /* Añadido */
}

/* Estilos para el botón de cerrar */
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 1em;
    color: #b1e4dc;
}


 /* Estilos adicionales para el formulario */
.popup input[type="text"],
.popup input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}

.popup button {
    background-color: #b1e4dc; /* Color del botón */
    color: #21203f;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
} 




/* Línea divisoria vertical en el centro */
.product-form {
    display: flex;
    align-items:stretch;
    padding: 20px 0px 20 0px;
    margin: 20px 0px 20 0px ;
    flex: 1;
    color: #fff;
}

/* Estilos para las filas de entrada de texto */
.product-form input 
.product-form select
{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    
    transition: background-color 0.3s ease; /* Transición suave */
}

/* Cambio de estilo al enfocar el input */
.product-form input:focus {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo más claro al enfocar */
}

.right-column {
    border-left: 5px solid #b1e4dc; /* Color del borde izquierdo */
    padding-left: 20px; /* Espacio entre el borde y el contenido */
}

.left-column{
    padding-right: 30px;
}

/* Estilos para el input de imágenes */
.contendor-img{
    height: 75%; /* Triple de su tamaño original */
    color: white; /* Letras blancas */
    width: 110%;
    
}

#productImage{
    height: 90%;
}

/* Estilos para el botón de carga de archivos de imagen */
#productImage::file-selector-button {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    border: none;
    background: #084cdf; /* Color de fondo del botón */
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
    margin: 7em 0 1em 0; /* Añadido */
   ; /* Añadido */
}

#productImage::file-selector-button:hover {
    background: #0d45a5; /* Color de fondo al pasar el cursor sobre el botón */
}