@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
/*configuracion principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}


 body {
    margin: 0;
    padding: 0;
    background-color: var(--clr-green);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    text-decoration: none;
  color: inherit;
}

/* Encabezado */
header {
    background-color: var(--clr-main);
    color: white;
    top: 0;
    z-index: 1;
    margin-bottom: 0;
    padding-bottom:0 ;
    justify-content: space-between;
}

.titulo{
    text-align: center;
    color: var(--clr-green);
    position: relative;
    padding-left: 14rem;
}

.admin{
    display: none;
    visibility: hidden;
}


/* Estilos para el header */
.sticky-header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.botonfuncion{
    background-color: var(--clr-green-light);
    color: var(--clr-main);
    border: none;
    padding:.5rem;
    margin-right: 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    max-height: 30%;
    margin: 1rem 1rem;
   
   
    
}
.botonfuncion:hover {
    background-color: var(--clr-green);
}


/* Estilos para la parte derecha */
.right-header {
    gap: 2rem;
    color: var(--clr-green);
    display: flex;
    
    
}

.opcion {
    cursor: pointer;
    padding: 2rem;
    border-radius: 15px;
    transition: background-color 0.3s ease;
   
    
}

.opcion:hover {
    background-color: var(--clr-green);
    color: var(--clr-main);
}

#btnCarrito{
    text-decoration: none;
    color: var(--clr-green);
}
#btnCarrito:hover{
    background-color: var(--clr-green);
    color: var(--clr-main);
}





/* menu secundario */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 40px; /* Adjusted to avoid overlap with header */
    height: 3em;
    align-items: center;
    
}
.nav-links ul {
    display: flex;
    gap: 3px;
    padding: 0;
    border-right: 1px solid var(--clr-blue);
    border-left: 1px solid var(--clr-blue);

    list-style-type: none;
}
.nav-links a {
    color: var(--clr-blue);
    text-decoration: none;
    padding: 0 10px;
}

.logo{
    display: flex;
    justify-content: center;
    max-width: 5rem;
    margin-left: 2rem;
}

.logo img{
    max-width: 5rem;
}

.subtitulo{
    text-align: center;
    align-items: center;
    text-shadow: var(--clr-soft) 2px 2px;
    text-transform: uppercase;
    margin-top: 3rem;
    color: var(--clr-green-green);

}
.product-title{
    padding-right: 2rem;
    max-width: 100%;
    margin-top: 0;
    font-size: 2rem;
    margin-bottom: 20%;
    margin-right: 0;
}

.producto-imagen{
    display: flex;
    height: 30vh;
    flex-wrap: wrap;
}

.producto-imagen img{
   
    max-height: 5rem;
}

#agotado{
    background-color: #db3d3bc2;
}
   

/* Fin de encabezado */

/* contenido principal */
main {
    background-color: var(--clr-main);
    flex-grow: 1;
}


/* Pie de pagina */
footer {
    background-color: var(--clr-green);
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}


/* Estilos para la barra de búsqueda */
.search {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid var(--clr-blue);
}

.search i {
    margin-right: 10px;
    font-size: 18px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 200px;
}

/* Estilos adicionales para hacerla más atractiva */
.search input[type="text"]::placeholder {
    color: #888;
}


.search input[type="text"]:focus {
    width: 250px;
    transition: width 0.3s ease;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .logo img {
        max-width: 3rem; /* Ajusta el tamaño según tus necesidades */
    }

    .offer-card{
        max-height: 2rem;
    }
}

