
/*configuracion principal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0fef2;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Encabezado */
header {
   
    background-color: #e0fef2;
    color: white;
    top: 0;
    z-index: 1;
}

/* Estilos para el header */
.sticky-header {
    position: sticky;
    top: 0;
 
    display: flex;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.right-header {
    margin-left: auto;
}

/* Estilos para las opciones (botones) */
.opcion {
    margin-right: 20px;
    cursor: pointer;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
    .logo img {
        max-width: 80px; /* Ajusta el tamaño según tus necesidades */
    }
}

/* Estilos para la parte derecha */
.right-header {
    gap: 7px;
    margin: 0 10px;
    color: #21203f;
}

.opcion {
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.opcion:hover {
    background-color: #c8fde8;
}

/* Estilos para la barra de búsqueda */
.search {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #21203f;
}

.search span {
    margin-right: 10px;
    font-size: 18px;
}

.search input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    width: 200px;
}

/* Estilos adicionales para hacerla más atractiva */
.search input[type="text"]::placeholder {
    color: #888;
}


.search input[type="text"]:focus {
    width: 250px;
    transition: width 0.3s ease;
}

/* menu secundario */
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #b1e4dc;
    position: sticky;
    top: 40px; /* Adjusted to avoid overlap with header */
    height: 3em;
    align-items: center;
    
}
.nav-links ul {
    display: flex;
    gap: 3px;
    padding: 0;
    border-right: 1px solid #21203f;
    border-left: 1px solid #21203f;

    list-style-type: none;
}
.nav-links a {
    color: #21203f;
    text-decoration: none;
    padding: 0 10px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    width:12%;
    object-position: center;
    
}

.product-list{
    display: flex;
    height: 30vh;
    flex-wrap: wrap;
}

.product-list img{
   
    max-height: 10rem;
}
   

/* Fin de encabezado */

/* contenido principal */
main {
    margin: 20px;
    background-color: #e0fef2;
    flex-grow: 1;
}


/* Pie de pagina */
footer {
    background-color: #40E0D0;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Responsive */
@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}


